-r requirements.txt

accelerate
datasets>=3.0.0,<4.0.0
outlines>=0.1.0,<1.0.0
sentencepiece~=0.2.0
torch
torchvision
transformers>=4.49.0,<5.0.0
# flash_attn --no-build-isolation

# phi
backoff>=2.2.0,<3.0.0
peft~=0.15.1
pillow>=11.1.0,<12.0.0
scipy>=1.0.0,<2.0.0
soundfile~=0.13.1

# vllm
# vllm[audio]>=0.8.0,<1.0.0
